name: test ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run tests
        run: python test_hi.py

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/head/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3